<launch>
  <include file="$(find usb_camera)/launch/usb_camera.launch">
  </include>
  <node pkg="controller" type="joystick.py" name="joystick_talker">
  </node>
  <node pkg="drive" type="control.py" name="CarController_listener">
  </node>
  <node pkg="recoder" type="capture.py" name="recorder_node">
  </node>
</launch>